<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
</head>

<body>
    <header style="font-size: 2em">
        <nav>
            <a href="/onboarding">Onboarding</a>
            <a href="/search">Search</a>
            <a href="/result">Result</a>
            <a href="/example">Exemple</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>