{% extends "base.html" %}

{% block title %}Onboarding{% endblock %}

{% block content %}
<section class="onboarding">
    <h1>A quoi peut ressembler votre quartier demain?</h1>
    <h2>
    Make It Green est la plateforme interactive de végétalisation des rues 
    </h2>
    <ul>
        <li class="py-2">
            Make It Green génère des suggestions d’aménagements écologiques 
        </li>
        <li class="py-2">
            Make It Green propose des solutions centrées sur les plantes locales         
        </li>
        <li class="py-2">
            Make It Green sensibilise aux enjeux de la biodiversité locale 
        </li>
    </ul>
</section>

<!-- Images côte à côte section 2 du site -->
<section class="example">
    <h1 class="text-center">Découvrez la puissance de MAKE IT GREEN</h1>
</section>
<div class="image-container flex justify-center mt-10">
    <div class="image-item text-center mx-4">
        <img class="w-full h-auto rounded-lg" src="{{ image_file1 }}" alt="Vue initiale">
        <h3 class="mt-2">Avant : Vue actuelle</h3>
    </div>

    <div class="image-item text-center mx-4">
        <img class="w-full h-auto rounded-lg" src="{{ image_file2 }}" alt="Vue avec la solution Make it Green">
        <h3 class="mt-2">Après : Vision de Make it Green</h3>
    </div>
</div>

<!-- ici on rajoute le lien vers la page de recherche -->
<div class="text-center mt-10"> <!-- Ajout d'une div pour centrer le bouton -->
    <a href="{{ url_for('search') }}">
        <button style="min-width: 150px; max-width: 300px;" class = "px-6 py-3 bg-green-900 text-white font-semibold rounded-md hover:bg-green-800 hover:text-white transition-colors duration-300">Commencer</button>
    </a>
</div>

<div style="padding: 30px 0;"> <!-- Ajout d'un padding après le bouton -->
</div>
</section>

<!-- Styles -->
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        /*padding: 20px;*/
    }

    button {
        background-color: #ff9900;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: #0056b3;
    }

    .onboarding {
        text-align: center;
        background-color: #f9ece2;
        color: black;
        padding: 50px 20px;
        border-radius: 20px;
        max-width: 900px;
        margin: 50px auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .onboarding h1 {
        text-align: center;
        font-size: 2.5em;
        margin-top: 20px;
    }

    .onboarding h2 {
        text-align: center;
        font-size: 1.6em;
        margin-top: 20px;
    }

    .image-container {
        display: flex;
        justify-content: center;
        /* Centre les images */
    }

    .image-item {
        padding: 20px;
        /* Padding autour de chaque image */
        max-width: 500px;
        /* Augmentation de la largeur maximale de chaque image */
        width: 100%;
        /* Assure que les images s'adaptent au conteneur */
    }

    .image-item img {
        width: 100%;
        /* Prend toute la largeur du conteneur */
        height: auto;
        /* Conserve le ratio d'aspect de l'image */
    }

    .example h1 {
        text-align: center;
        /* Centre le titre de la section example */
        font-size: 2.5em;
        /* Augmentation de la taille du h1 */
        margin-top: 20px;
        /* Ajout d'une marge au-dessus du titre */
    }
</style>

{% endblock %}