<footer class="bg-black text-white py-8">
    <div class="container mx-auto px-6 md:flex md:justify-between">
      <!-- Section logo et description -->
      <div class="mb-6 md:mb-0">
        <h3 class="text-2xl font-bold">Make it green</h3>
        <p class="mt-2 text-gray-400">
          Réinvente ton espace urbain avec notre solution innovante, alliant nature et technologie pour des aménagements durables et élégants.
        </p>
      </div>
  
      <!-- Section navigation -->
      <div class="mb-6 md:mb-0">
        <h4 class="font-semibold">Navigation</h4>
        <ul class="mt-4 space-y-2">
          <li><a href="../onboarding.html" class="hover:text-blue-400">Accueil</a></li>
          <li><a href="../search.html" class="hover:text-blue-400">Search</a></li>
        </ul>
      </div>
  
      <!-- Section contact et réseaux sociaux -->
      <div>
        <h4 class="font-semibold">Nous contacter</h4>
        <p class="mt-4 text-gray-400">
          contact@Makeitgreen.com
        </p>
        <p class="mt-2 text-gray-400">
          +33 1 22 44 66 88
        </p>
  
        <!-- Icônes des réseaux sociaux -->
        <div class="mt-6 flex space-x-4">
          <a href="#" class="text-gray-400 hover:text-blue-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
              <path d="M12 2.163c-5.514 0-9.999 4.486-9.999 10 0 4.991 3.657 9.128 8.437 9.878v-6.993h-2.54v-2.885h2.54v-2.211c0-2.508 1.492-3.891 3.771-3.891 1.094 0 2.238.195 2.238.195v2.459h-1.261c-1.242 0-1.63.771-1.63 1.563v1.886h2.773l-.443 2.885h-2.33v6.993c4.78-.75 8.437-4.887 8.437-9.878 0-5.514-4.486-10-10-10z"/>
            </svg>
          </a>
          <a href="#" class="text-gray-400 hover:text-blue-400">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
              <path d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .732.593 1.324 1.325 1.324h21.351c.731 0 1.324-.593 1.324-1.324v-21.351c0-.732-.593-1.325-1.325-1.325zm-14.226 19.531h-3.036v-10.722h3.036v10.722zm-1.516-12.255c-.967 0-1.753-.786-1.753-1.753s.786-1.752 1.753-1.752 1.753.785 1.753 1.752-.785 1.753-1.753 1.753zm13.774 12.255h-3.036v-5.554c0-1.323-.027-3.027-1.845-3.027-1.848 0-2.131 1.444-2.131 2.938v5.643h-3.036v-10.722h2.915v1.465h.042c.405-.766 1.397-1.574 2.875-1.574 3.073 0 3.639 2.021 3.639 4.651v6.18h-.003z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  
    <div class="border-t border-gray-700 mt-8 pt-6 text-center">
      <p class="text-gray-400">
        &copy; 2024 Make it green Tous droits réservés.
      </p>
    </div>
  </footer>